.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    margin-left: 160px;
    margin-top: 31px;
    font-size: 32px;
}

nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none; 
    margin-right: px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}
.btn {
    font-weight: bold;
    color: #006A50;
    font-size: 18px;
    padding: 18px 35px;
    border-radius: 8px;
    margin-right: 160px;
    margin-top: 24px;
    margin-bottom: 24px;
    background-color: white;
}
.btn :hover{
    background-color: #19951e;
}
.btn2{
    background-color: #006A50;
    color: white;
    padding: 15px 8px;
    border-radius: 10px;
}
.btn2 :hover{
    background-color: #749875;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-bottom: 20px;
    margin-left: 90px;
    margin-right: 90px;
    
}
.banner{
    display: flex;
    justify-content: space-between;
    background-color: #C6E4D6;
    padding: 100px 80px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 10px;
    margin-bottom: 80px;
    border-radius: 15px;
}
.banner-title{
    font-size: 56px;
    font-weight: bold;
    letter-spacing: 0%;
}
.banner-content{
    max-width: 622px;
    justify-content: space-around;
}
.main{
    margin-left: 250px;
    margin-right: 250px;
}
.main p{
    font-size: 16px;
    color: #606660;
}
.card-first{
    display: flex;
    gap: 24px;
    height: 100%;
    width: 100;
}
.title1{
    background-color: #a5bde7;
    padding: 32px; 
}
.title2{
    background-color:rgb(116, 233, 181);
    padding: 32px;
}
.title3{
    background-color: #f1ad10;
    padding: 32px;
}
.Btn1{
    border-radius: 8px;
    background-color: #5791f5;
}
.Btn1 :hover{
    background-color: #689af1;
}
.Btn2{
    border-radius: 8px;
    background-color: #159a78;
}
.Btn2 :hover{
    background-color: #9da9a7;
}
.Btn3{
    border-radius: 8px;
    background-color: #cbb687;
}
.Btn3 :hover{
    background-color: #f1bb25;
}
.satelite {
    display: flex;
    flex-direction:row;
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 80px;
}
.recent{
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 32px;
}
.quote{
    text-align: center;
    background-image: url(../quote-bg.png);
    background-repeat: no-repeat;
    background-color: #d1d7e2;
    margin-left: 100px;
    margin-right: 100px;
    
}
.card1{
    background-color: #eae9e9;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 24px;
    border-radius:15px;
}
.card1 img{
    border-radius: 15px;
}
.card2 img{
    border-radius: 15px;
}
.card2{
    background-color: #eae9e9 ;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 24px;
    border-radius: 15px;
    
}
.Button{
    border-radius: 8px;
    background-color: #19951e;
    padding: 10px;
    color: white;
}
.Button :hover{
    background-color: #295c94;
}
.footer-title{
    font-family: fira sans;
    font-size: 40px;
    text-align: center;
    margin-bottom: 24px;
}
.footer-title p{
    font-size: 16px;
}
.footer{
    margin-left: 250px;
    margin-right: 250px;
}
.donate-box{
    display: flex;
    justify-content: space-between;
    margin-left: 104px;
    margin-right: 104px;
}
.donate{
    border-radius: 16px;
    padding: 40px 40px;
    background-color: #FFFFFF;
    gap: 24px;
    font-family: Fira Sans;
    font-weight: bold;
    font-size: 40px;
    height: 100;
    margin-bottom: 32px;  
}
.input{
    display:block;
    width: 100%;
    text-align: center;
    padding: 40px 20px;
    font-size: 20px;
    margin-bottom: 32px;
}  

.done{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 8px;
}